@page "/"
<Div ClassName="octocat" BlazorAOS="fade-up" Animate="true">
    <img src="images/BrandBlazor_nohalo_1000x.png" />
</Div>
<div class="Center">
    <h1>AOS Blazor</h1>
    <h2>Animate On Scrooll Library</h2>
</div>
<header class="hero">
    <span class="hero__scroll">
        Scroll down <br>
        <i class="chevron bottom"></i>
    </span>
</header>
<section class="section">
    <div class="container">
        <h2 class="section-title">FADE</h2>
        <Div ClassName="code code--small code--left" BlazorAOS="fade-up">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="fade-down">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="fade-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="fade-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="fade-up-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-up-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="fade-up-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-up-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="fade-down-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade-down-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="fade-down-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"fade--down-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">FLIP</h2>
        <Div ClassName="code code--small code--left" BlazorAOS="flip-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"flip-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="flip-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"flip-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="flip-up">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"flip-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="flip-down">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"flip-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">SLIDE</h2>
        <Div ClassName="code code--small code--left" BlazorAOS="slide-up">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"slide-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="slide-down">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"slide-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="slide-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"slide-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="slide-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"slide-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2 class="section-title">ZOOM</h2>
        <Div ClassName="code code--small code--left" BlazorAOS="zoom-in">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-in"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="zoom-in-up">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-in-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="zoom-in-down">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-in-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="zoom-in-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-in-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="zoom-in-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-in-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="zoom-out">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-out"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="zoom-out-up">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-out-up"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="zoom-out-down">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-out-down"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--left" BlazorAOS="zoom-out-right">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-out-right"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
        <Div ClassName="code code--small code--right" BlazorAOS="zoom-out-left">
            <code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">Div</span> <span class="hljs-attribute">BlazorAOS</span>=<span class="hljs-value">"zoom-out-left"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">Div</span>&gt;</span></code>
        </Div>
    </div>

</section>
<div class="section--more">
    <div class="container">
        <div class="section-group">
            <h3>Preview</h3>
            <h4>Install NuGet Package</h4>
            <pre><code class="hljs perl"><span class="hljs-string">AOSBlazorComponent 1.0.0</span></code></pre>
            <h4>CSS</h4>
            <pre><code class="hljs perl">&lt;<span class="hljs-keyword">link</span> href=<span class="hljs-string">"_content/AOSBlazorComponent/AosBlazor.css"</span> rel=<span class="hljs-string">"stylesheet"</span>&gt;</code></pre>
            <h4>JS</h4>
            <pre><code class="hljs xml"><span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"_content/AOSBlazorComponent/JsScroll.js"</span>&gt;</span><span class="undefined"></span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span></code></pre>
        </div>
    </div>
</div>
@code{


}
